.sudoku {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vmin;

  &__heading {
    font-size: 5vmin;
  }

  &__difficulty {
    font-size: 3vmin;

    &--easy {
      font-weight: bold;
      color: #7FFF00;
    }

    &--medium {
      font-weight: bold;
      color: #FFA500;
    }

    &--hard {
      font-weight: bold;
      color: #FF0000;
    }
  }

  &__board {
    border: 2px solid black;
    cursor: default;
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 95vw;
    max-width: 600px;
    max-height: 600px;
  }

  &__row {
    display: flex;
    flex: 1;

    &:not(:nth-child(9)) {
      border-bottom: 1px solid grey;
    }

    &:nth-child(3), &:nth-child(6) {
      border-bottom: 2px solid black;
    }

    &--selected {
      background-color: #E1EBEE;
    }
  }

  &__cell {
    font-size: 4vmin;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    &:hover {
      color: white;
      background-color: #89CFF0;
    }

    &:not(:nth-child(9)) {
      border-right: 1px solid grey;
    }

    &:nth-child(3), &:nth-child(6) {
      border-right: 2px solid black;
    }

    &--empty {
      cursor: pointer;
    }

    &--selected {
      color: white;
      background-color: #89CFF0;
    }

    &--col-selected {
      background-color: #E1EBEE;
    }
  }

  &__number-list {
    display: flex;
    width: 95vw;
    max-width: 600px;
    justify-content: space-between;
  }

  &__number-item {
    cursor: pointer;
    padding: 0 5px;
    font-size: 8vmin;
    font-weight: bold;
    color: #545AA7;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__restart-button {
    button {
      background-color: #FFFFFF;
      border: 0;
      border-radius: .5rem;
      box-sizing: border-box;
      color: #111827;
      font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      font-size: 4vmin;
      font-weight: 600;
      line-height: 1.25rem;
      padding: 3.63vmin 4.85vmin;
      text-align: center;
      text-decoration: none #D1D5DB solid;
      text-decoration-thickness: auto;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }

    button:hover {
      background-color: rgb(249,250,251);
    }

    button:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }
    
    button:focus-visible {
      box-shadow: none;
    }
  }

  &__footer {
    font-size: 3vmin;
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  --w:10ch;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  letter-spacing: var(--w);
  width: var(--w);
  overflow: hidden;
  white-space: nowrap;
  color: #0000;
  animation: l40 2s infinite;
}

.loader:before {
  content:"Loading...";
}

@keyframes l40{
  0%,100% {
   text-shadow: 
        calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
        calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000;
  }
  9% {
   text-shadow: 
        calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) -20px #0000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
        calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000;
  }
  18% {
   text-shadow: 
        calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) -20px #0000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
        calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) -20px #0000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000;
  }
  27% {
   text-shadow: 
        calc( 0*var(--w)) -20px #0000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) -20px #0000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
        calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) -20px #0000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000;
  }
  36% {
   text-shadow: 
        calc( 0*var(--w)) -20px #0000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) -20px #0000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
        calc(-5*var(--w)) -20px #0000,calc(-6*var(--w)) -20px #0000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000;
  }
  45% {
   text-shadow: 
        calc( 0*var(--w)) -20px #0000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) -20px #0000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
        calc(-5*var(--w)) -20px #0000,calc(-6*var(--w)) -20px #0000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) -20px #0000,calc(-9*var(--w)) 0 #000;
  }
  54% {
   text-shadow: 
        calc( 0*var(--w)) -20px #0000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) -20px #0000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) -20px #0000, 
        calc(-5*var(--w)) -20px #0000,calc(-6*var(--w)) -20px #0000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) -20px #0000,calc(-9*var(--w)) 0 #000;
  }
  63% {
   text-shadow: 
        calc( 0*var(--w)) -20px #0000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) -20px #0000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) -20px #0000, 
        calc(-5*var(--w)) -20px #0000,calc(-6*var(--w)) -20px #0000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) -20px #0000,calc(-9*var(--w)) -20px #0000;
  }
  72% {
   text-shadow: 
        calc( 0*var(--w)) -20px #0000,calc(-1*var(--w)) -20px #0000,calc(-2*var(--w)) -20px #0000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) -20px #0000, 
        calc(-5*var(--w)) -20px #0000,calc(-6*var(--w)) -20px #0000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) -20px #0000,calc(-9*var(--w)) -20px #0000;
  }
  81% {
   text-shadow: 
        calc( 0*var(--w)) -20px #0000,calc(-1*var(--w)) -20px #0000,calc(-2*var(--w)) -20px #0000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) -20px #0000, 
        calc(-5*var(--w)) -20px #0000,calc(-6*var(--w)) -20px #0000,calc(-7*var(--w)) -20px #0000,calc(-8*var(--w)) -20px #0000,calc(-9*var(--w)) -20px #0000;
  }
  90% {
   text-shadow: 
        calc( 0*var(--w)) -20px #0000,calc(-1*var(--w)) -20px #0000,calc(-2*var(--w)) -20px #0000,calc(-3*var(--w)) -20px #0000,calc(-4*var(--w)) -20px #0000, 
        calc(-5*var(--w)) -20px #0000,calc(-6*var(--w)) -20px #0000,calc(-7*var(--w)) -20px #0000,calc(-8*var(--w)) -20px #0000,calc(-9*var(--w)) -20px #0000;
  }
}