.sudoku {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vmin;
  margin-top: 5vmin;

  &__difficulty {
    font-weight: bold;
    font-size: 6vmin;
  }

  &__board {
    border: 2px solid black;
    cursor: default;
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 95vw;
    max-width: 300px;
    max-height: 300px;
  }

  &__row {
    display: flex;
    flex: 1;

    &:not(:nth-child(9)) {
      border-bottom: 1px solid grey;
    }

    &:nth-child(3), &:nth-child(6) {
      border-bottom: 2px solid black;
    }

    &--selected {
      background-color: #E1EBEE;
    }
  }

  &__cell {
    font-size: 4vmin;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: white;
      background-color: #89CFF0;
    }

    &:not(:nth-child(9)) {
      border-right: 1px solid grey;
    }

    &:nth-child(3), &:nth-child(6) {
      border-right: 2px solid black;
    }

    &--empty {
      cursor: pointer;
    }

    &--selected {
      color: white;
      background-color: #89CFF0;
    }

    &--col-selected {
      background-color: #E1EBEE;
    }
  }

  &__number-list {
    display: flex;
    width: 95vw;
    max-width: 300px;
    justify-content: space-between;
  }

  &__number-item {
    cursor: pointer;
    padding: 0 5px;
    font-size: 8vmin;
    font-weight: bold;
    color: #545AA7;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}